@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');
*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

.hlavicka {
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

body {
  background-color: lavenderblush;
  text-align: center;
}
.main {
  background-color: white;
  width: 960px;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;

  /*
  margin-right: 300px;
  margin-left: 300px;
  /*text-align: center;*/
}
.kontejner1 {
  display: flex;
  justify-content: center;
}

.kontejner1 img {
  width: 240px;
  padding: 10px;
}

.kontejner2 {
  text-align: left;
  display: flex;
  padding: 80px;
}

.levy-sloupec-popis {
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.pravy-sloupec-popis {
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.menu img {
  width: 323px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.losos,
.dezert {
  display: flex;
}

.losos-text {
  width: 350px;
  display: flex;
  flex-direction: column;
  /*flex-basis: 50%;
  /*justify-content: flex-end;*/
}

.tagliatelle {
  display: flex;
}
.tagliatelle-text {
  width: 350px;
  flex-direction: column;
  order: 1;
}
.tagliatelle img {
  order: 2;
}

.dezert-text {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.paticka {
  padding: 50px 360px 50px 360px;
  text-align: center;
}
